html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

* {
    /* outline: 1px solid red; */
}





@font-face {
    font-family: neu;
    font-weight: 70;
    src: url(./NeueHaasDisplayLight.ttf);
}

@font-face {
    font-family: neu;
    font-weight: 100;
    src: url(./NeueHaasDisplayRoman.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: neu;
    
}
body{
    overflow: hidden;
}

html, body {
    height: 100%;
    width: 100%;
}


a:-webkit-any-link {
    color: rgba(0, 0, 0, 0.774);
    text-decoration: none;
}
:root {
    --swiper-navigation-size: 0px;
}

 #main {
    /* background-color: #000; */
    position: absolute;
    z-index: 10;
    overflow: scroll;
    width: 100vw;
    height: 100vh;
}

#page1 {
    min-height: 100vh;
    width: 100%;
    background-color: #EFEAE3;
    position: relative;
    padding: 0 vw;
}

 nav {
    /* padding: 0vw 0vw; */
    width: 100%;
    /* background-color: red; */
    display: flex;
    align-items: center;
    position: relative;
    /* z-index: 100; */
    justify-content: space-between;
}

#nav-part2 {
    display: flex;
    align-items: center;
    gap: 1vw;
}

#nav-part2 h4 {
    padding: 10px 20px;
    border: 1px solid #0000003c;
    border-radius: 50px;
    font-weight: 500;
    color: #000000bb;
    transition: all ease 0.4s;
    position: relative;
    font-size: 18px;
    overflow: hidden;
}

#nav-part2 h4::after {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: black;
    left: 0;
    bottom: -100%;
    border-radius: 50%;
    transition: all ease 0.4s;
}

#nav-part2 h4:hover::after {
    bottom: 0;
    border-radius: 0;
}

#nav-part2 h4 a {
    color: #000000bb;
    text-decoration: none;
    position: relative;
    z-index: 9;
}

#nav-part2 h4:hover a {
    color: #fff;
}

  nav h3 {
    display: none;
    text-decoration: none;
}

#center {
    height: 65vh;
    width: 100%;
    /* background-color: orange; */
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    border-bottom: 1px solid #0000003c;
    padding-bottom: 2.5vw;
}


#left h3 {
    width: 25vw;
    font-size: 1.8vw;
    line-height: 2vw;
}

#center h1 {
    font-size: 10vw;
    text-align: right;
    line-height: 8vw;
}

#page1 video {
    position: relative;
    border-radius: 30px;
    margin-top: 4vw;
    width: 100%;
}

#hero-shape {
    position: absolute;
    width: 46vw;
    height: 36vw;
    right: 0;
    top: 71vh;
}

#hero-1 {
    background-color: #FE320A;
    height: 100%;
    width: 100%;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    filter: blur(10px);
    position: absolute;
}

#hero-2 {
    background: linear-gradient(#FE320A, #fe3f0a);

    height: 30vw;
    width: 30vw;
    border-radius: 50%;
    position: absolute;
    animation-name: anime2;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    filter: blur(25px);
}

#hero-3 {
    background: linear-gradient(#FE320A, #fe3f0a);
    height: 30vw;
    position: absolute;
    width: 30vw;
    border-radius: 50%;
    filter: blur(25px);
    animation-name: anime1;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes anime1 {
    from {
        transform: translate(55%, -3%);
    }

    to {
        transform: translate(0%, 10%);
    }
}

@keyframes anime2 {
    from {
        transform: translate(5%, -5%);
    }

    to {
        transform: translate(-20%, 30%);
    }
}

#page2 {
    min-height: 100vh;
    width: 100%;
    background-color: #EFEAE3;
    padding: 8vw 0;
    position: relative;
}

#moving-text {
    overflow-x: auto;
    white-space: nowrap;
}

#moving-text::-webkit-scrollbar {
    display: none;
}

.con {
    white-space: nowrap;
    display: inline-block;
    animation-name: move;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}


#moving-text h1 {
    font-size: 9vw;
    /* background-color: lightblue; */
    display: inline-block;
}

#gola {
    height: 70px;
    width: 70px;
    border-radius: 50%;
    display: inline-block;
    background-color: #FE320A;
    margin: 1vw 2vw;
}

@keyframes move {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-100%);
    }
}

#page2-bottom {
    height: 80vh;
    width: 100%;
    /* background-color: aliceblue; */
    padding: 4.5vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 9;
}

#page2-bottom h1 {
    font-size: 4vw;
    width: 60%;
    line-height: 4vw;
}

#bottom-part2 {
    width: 20%;
    /* background-color: aqua; */
}

#bottom-part2 img {
    width: 100%;
    border-radius: 15px;
}

#bottom-part2 p {
    font-weight: 200;
    margin-top: 2vw;
    font-size: 1vw;
}

#page2 #gooey {
    height: 32vw;
    width: 32vw;
    position: absolute;
    border-radius: 50%;
    background: linear-gradient(to top right, #ff2d03, #ff5c0b);
    /* background: linear-gradient(to top right,red,blue); */


    top: 58%;
    left: 25%;
    filter: blur(20px);
    animation-name: gooey;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;

}

@keyframes gooey {
    from {
        filter: blur(20px);
        transform: translate(10%, -10%) skew(0);
    }

    to {
        filter: blur(30px);
        transform: translate(-10%, 10%) skew(-12deg);
    }
}




#page3 {
    min-height: 100vh;
    width: 100%;
    background-color: #EFEAE3;
    padding: 4vw 0;
}
#elem-container{
    padding-top: 70px;
    position: relative;
}

.chobi-1 {
    width: 82vw;
    /* background-color: aqua; */
    position: relative;
}

.chobi-1 img {
    width: 86%;
    border-radius: 30px;
    position: relative;
    
}
.chobitxt{
    font-size: 6vw;
    font-family: seoge UI;
    position: relative;
    text-shadow: 1vw 1vw 4vw ;
    
}
 .contact {
    text-decoration: none;
    color: #000000bb;


 }


#page5 {
    height: 40vh;
    width: 100%;
    overflow: hidden;
    background-color: #EFEAE3;
    /* background-color: #EFEAE3; */
}

#footer {
    position: fixed;
    height: 40vh;
    width: 100%;
    background-color: #000;
    color: #fff;
    z-index: 9;
    bottom: 0;
    display: flex;
    /* align-items: flex-end; */
    justify-content: flex-end;
    flex-direction: column;
    padding: 1vw 3vw;
    overflow: hidden;
}

#footer h1 {
    font-size: 6vw;
    overflow: hidden;
    text-align: center;
}

 #footer-div {
    height: 20vh;
    width: 100%;
    background-color: red;
    overflow: hidden;
}

#footer-bottom {
    border-top: 1px solid #dadada;
    height: 5vh;
    width: 100%;
    overflow: hidden;
}

#full-scr {
    height: 100vh;
    width: 100%;
    background-color: #00000070;
    position: fixed;
    z-index: 99;
    top: -100%;
    transition: all ease 0.5s;
    overflow: hidden;
}

#full-div1 {
    height: 50%;
    width: 100%;
    background-color: #EFEAE3;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    overflow: hidden;

}
  #zero-shape {
    position: absolute;
    width: 46vw;
    height: 36vw;
    right: 2px;
    top: 59vh;
}
#zero-shape1 {
    position: absolute;
    width: 46vw;
    height: 36vw;
    right: 0px;
    top: 277vh;
}
#zero-shape2 {
    position: absolute;
    width: 46vw;
    height: 36vw;
    right: 2px;
    top: 465vh;
}

 .credit{
    padding: 4vw 2vw 2vw 5vw;
 }

#zero-1 {
    background-color: #FE320A;
    height: 100%;
    width: 100%;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    filter: blur(10px);
    position: absolute;
}

#zero-2 {
    background: linear-gradient(#FE320A, #fe3f0a);

    height: 40vw;
    width: 40vw;
    border-radius: 50%;
    position: absolute;
    animation-name: anime2;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    filter: blur(25px);
}

#zero-3 {
    background: linear-gradient(#FE320A, #fe3f0a);
    height: 35vw;
    position: absolute;
    width: 35vw;
    border-radius: 50%;
    filter: blur(25px);
    animation-name: anime1;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
.call{
    text-align: center;
    justify-content: center;
    display: flex;
    padding-top: 14px;
    font-size: 6vw;
    color: #f7eeee;

}
 


@media (max-width:600px) {
    #hero-shape{
        top: 37vh;
    }
    #zero-shape{
        top: 90vh;
    }
    #elem-container {
        padding-top: 110vw;
    }


    #page1 {
        min-height: 100vh;
        width: 100vw;
        
    }
    

    nav {
        
        
        background-color: #EFEAE3;
        display: flex;
        position: relative;
        
    }

    nav img {
        
        height: 16vh;
    }

    #nav-part2 {
        display: none;
    }
    

    nav h3 {
        display: flex; 
        padding: 3vw 5vw;
        border: 1px solid #ababab;
        border-radius: 50px;
        font-size: 4vw;
        font-weight: 200;
        padding-left: 10vw;
        text-decoration: none;
        
    }

    #center {
        height: 62vh;
        width: 100%;
        /* background-color: orange; */
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        /* border-bottom: 1px solid #0000003c; */
        padding: 7vw 5vw;
        padding-bottom: 10vw;
        flex-direction: column-reverse;
        position: relative;
        z-index: 9;
    }

    #left h3 {
        width: 80%;
        font-size: 5.5vw;
        line-height: 6vw;
    }

    #center h1 {
        font-size: 17vw;
        text-align: right;
        line-height: 15vw;
    }

    #page1 video {
        position: relative;
        border-radius: 15px;
        margin-top: 4vw;
        height: 30vh;
        object-fit: cover;
        object-position: center;
        width: 97%;
        margin-left: 1.5%;
    }

    #page2 {
        min-height: 100vh;
        width: 100%;
        background-color: #EFEAE3;
        padding: 8vw 0;
        position: relative;
    }

    #moving-text {
        overflow-x: auto;
        white-space: nowrap;
    }

    #moving-text::-webkit-scrollbar {
        display: none;
    }

    .con {
        white-space: nowrap;
        display: inline-block;
        animation-name: move;
        animation-duration: 10s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
    }

    #moving-text h1 {
        font-size: 15vw;
        /* background-color: lightblue; */
        display: inline-block;
    }

    #gola {
        height: 25px;
        width: 25px;
        border-radius: 50%;
        display: inline-block;
        background-color: #FE320A;
        margin: 2vw 2vw;
    }

    #page2-bottom {
        height: 90vh;
        width: 100%;
        /* background-color: aliceblue; */
        padding: 10vw 4vw;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        position: relative;
        flex-direction: column;
        z-index: 9;
    }

    #page2-bottom h1 {
        font-size: 8.2vw;
        width: 100%;
        line-height: 9vw;
    }

    #bottom-part2 {
        width: 70%;
        /* background-color: aqua; */
    }

    #bottom-part2 img {
        width: 100%;
        border-radius: 10px;
    }

    #bottom-part2 p {
       font-weight: 700;
        margin-top: 3vw;
        font-size: 4vw;
    }

    #page2 #gooey {
        height: 62vw;
        width: 62vw;
        position: absolute;
        border-radius: 50%;
        background: linear-gradient(to top right, #ff2d03, #ff5c0b);
        /* background: linear-gradient(to top right,red,blue); */


        top: 56%;
        left: 38%;
        filter: blur(20px);
        animation-name: gooey;
        animation-duration: 6s;
        animation-iteration-count: infinite;
        animation-direction: alternate;
        animation-timing-function: ease-in-out;

    }
    #zero-shape1{
        top: 199vh;
    }
    #zero-shape2{
        top: 338vh;
    }
    #zero-shape3{
        top: 436vh;
    }


}
@media (max-width:500px) {
    #elem-container {
        padding-top: 65vw;
    }
    #zero-shape{
        top: 58vh;
    }
    #zero-shape1{
        top: 141vh;
    }
    #zero-shape2{
        top: 264vh;
    }
    #zero-shape3{
        top: 341vh;
    }
    
}

@media (max-width:400px) {
    #elem-container {
        padding-top: 27vw;
    }
    
}
@media (max-width:416px){

    #hero-shape{
        top: 35vh;
    }
}
@media (max-width:444px){
    #zero-shape{
        top: 58vh;
    }
    #zero-shape1{
        top: 141vh;
    }
    #zero-shape2{
        top: 274vh;
    }
    #zero-shape3{
        top: 307vh;
    }

}
@media (max-width:320px){
    #zero-shape3{
        top: 360vh;
    }


}

  

/* #loader{
    height: 100%;
    width: 100%;
    background-color: #000;
    position: fixed;
    z-index: 999;
    top: 0;
    transition: all ease 0.7s;
    display: flex;
    align-items: center;
    justify-content: center;
}  */

/* #loader h1{
    font-size: 4vw;
    color: transparent;
    background: linear-gradient(to right,orange,orangered);
    -webkit-background-clip: text;
    position: absolute;
    opacity: 0;
    animation-name: load;
    animation-duration: 1s;
    animation-delay: 1s;
    animation-timing-function: linear;
}
#loader h1:nth-child(2){
    animation-delay: 2s;
}
#loader h1:nth-child(3){
    animation-delay: 3s;
}

@keyframes load {
    0%{
        opacity: 0;
    }
    10%{
        opacity: 1;
    }
    90%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}

@media (max-width:600px) {
    #loader h1{
        font-size: 9vw;
      
    }
} */

.logo{
    color: black;
    filter: invert();
    width: 130px;
    margin-top: -28px;    
}
@media (max-height:883px) {
    #elem-container{
        padding-top: 50vw;
    }
}
@media (max-height:738px) {
    #elem-container{
        padding-top: 80vw;
    }
}
@media (max-height:716px) {
    #zero-shape1 {
        top: 148vh;
    }
    #zero-shape {
        top: 71vh;
    }
    #zero-shape2 {
        top: 278vh;
    }
}

@media (max-width:377px){
    nav img{
        height: 18.5vh;
    }
    #zero-shape3 {
        top: 359vh;
    }

}
@media (max-width:414px) {
   nav img {
    height: 18.5vh;
   }
   #zero-shape3 {
    top: 360vh;
   }
}
@media (max-width:320px){
nav img{
    height: 21.5vh;
}
}

@media (max-width:360px){

#zero-shape3 {
    top: 380vh;
}
}
@media (min-width: 1920px){
    #zero-shape2 {
        top: 858vh;
    }
    #zero-shape1{
        top: 382vh;

    }
  

}
@media (min-width: 1024px){

    .chobi-1{
        width: 40vw;
    }
}